<header>
    <div class="user-name">
        Usuário: Alvinho
    </div>

    <div class="search-form">
        <form action="#" method="GET">
            <input type="text" name="search" placeholder="Pesquisar...">
            <button>Buscar</button>
        </form>
        <ul class="ul-menu" style="list-style: none;">
            <li>
                <a href="/logout">Sair</a>
            </li>
        </ul>
    </div>
</header>