<main>
    <div class="container-login">
        <form class="form-login">
            <div>
                <label for="username">Nome de usuário</label>
                <input type="text" placeholder="Username" id="username">
            </div>
            <div>
                <label for="password">Sua senha</label>
                <input type="password" id="password" placeholder="Password">
            </div>
            <button>Login</button>
            <span class="span-register">
                <p>AInda não tem uma conta ? <a href="/register">Criar conta</a></p>
            </span>
            <p class="text" style="margin-top:10px; color:#333; font-size:14px; text-align:center;"></p>
        </form>
    </div>
</main>