<main class="main-register">
    <div class="container-register">
        <form class="form-register">
            <div>
                <label for="username">Nome de usuario</label>
                <input type="text" placeholder="Nome de usuario">
            </div>
            <div>
                <label for="email">Seu Email</label>
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
            <div>
                <label for="password">Digite sua senha</label>
                <input type="password" placeholder="Password" id="password">
            </div>
            <button>Registra</button>
        </form>

        <p class="p-text" style="margin-top:10px; color:#333;font-size:14px; text-align:center;">Seu email deve ser um email valido,iremos envia um token de verificação.</p>
    </div>
</main>